body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
}

ul li {
  border-width: 1px;
  border-color: black;
  background-color: azure;
  padding: 5px;
  list-style: none;
  border-style: solid;
  position: relative;
  width: 300px;
  cursor: pointer;
}

li:hover {
  background-color: burlywood;
  color: white;
}

button {
  width: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: darkgray;
}

div {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 4px;
}
